#map {
    border: 1px solid black;
    height: 400vh;
}
html, body {
    background-image: url('bgtech2.jpg');
    height: 100%;
    margin: 0;
    padding: 0;
  }

.banner {
  font-weight: 600;
  margin-top: 10px;
  background-color: #0cf3f791;
}
.link {
  text-decoration: none;
}
.images {
  max-width: 33vw;;
}
.weather {
  background-color: #ffffffb6;
  position: relative;
  bottom: 4vw;
  padding: 5px;
  border-radius: 20%;
}
.news {
  background-color: #ffffffb6;
  height: 400vh;
  overflow: scroll;
}
.newsItems {
  font-size: 10px;
}
.gif {
  max-width: 30.5vw;
}
.strip {
  background-color: #0b152591;
}
@media only screen and (max-width: 576px) {
  .weather {
    width: 40vw;
    height: 40vw;
    position: relative;
    top: 2vw;
    padding-left: 5px;
  }
  .buttons {
    font-size: 3vw;
  }
  .text-info, .celeb-name, .submit {
    font-size: 3vw;
  }

  .banner {
    font-size: 7vw;
  }
  .gif {
    max-width: 30.5vw;
  }
  .news {
    width: 35vw;
    position: relative;
  }
  #map {
    width: 35vw;
  }
  .newsItems {
    font-size: 2vw;
  }
}