#map {
    border: 1px solid black;
    height: 500vh;
    /* width: 40vw; */
    /* position: relative; */
    /* right: 4vw; */
}
  /* Optional: Makes the sample page fill the window. */
html, body {
    background-image: url('bgtech2.jpg');
    height: 100%;
    margin: 0;
    padding: 0;
  }

.banner {
  font-weight: 600;
  margin-top: 10px;
}
  
.link {
  text-decoration: none;
}
.images {
  max-width: 33vw;;
}
.weather {
  background-color: #ffffffb6;
  /* background-image: url('https://media.giphy.com/media/X5IuCdGZOflHW/giphy.gif'); */
  /* width: 30vw;
  height: 30vw; */
  position: relative;
  bottom: 4vw;
  padding: 5px;
  left: 8vw;
}
.news {
  background-color: #ffffffb6;
  /* color: antiquewhite; */
}
